.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  h1 {
    grid-column: 2;
  }
}

.feed-layout {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
}
.post-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: solid 2px var(--accent-c);
  border-bottom: none;
  padding: 0 0.5rem;
  background-color: var(--bg-dark);
  color: var(--bg-blue);
}
.post-card-container:hover {
  box-shadow: inset 0 0 10px var(--white);
}
.post-card-container p {
  word-break: break-word;
}
.last-grid {
  grid-column: 3;
  color: var(--accent-c);
}
.post-card-container:last-child {
  border-bottom: solid 2px var(--accent-c);
}
@media (min-width: 550px) {
  .feed-layout {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }
}
.create-post-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: var(--accent-c);
  color: white;

  padding: 12px 20px;
  border-radius: 6px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  z-index: 1000;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;

  background: transparent;
  border: none;
  font-size: 20px;
  color: var(--white);

  cursor: pointer;

/* Show Post  */
.show-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  top: 50%;
  left: 50%;
  max-height: 90%;
  overflow: scroll;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: var(--bg-dark);
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--white);
  h1 {
    color: var(--accent-c);
  }
}

.show-info.white {
  background-color: var(--white);
  color: var(--accent-c);
  overflow: hidden;
}
.comment-h-btn {
  display: flex;
  place-self: center;
}
.comment-h-btn * {
  margin-right: 1rem;
}

.comment-container {
  max-height: 15rem;
  overflow: scroll;
  overflow-x: hidden;
}
.comment-container::-webkit-scrollbar {
  width: 8px;
}

.show-info::-webkit-scrollbar-track {
  background: transparent;
}

.show-info::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 8px;
}

/* Firefox */
.show-info {
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}
