:root {
  --accent-c: #ba6225;
  --bg-dark: #111827;
  --bg-blue: #d4d4d4;
  --white: #d4d4d4;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-blue);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--white);
}
label {
  color: var(--accent-c);
}
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--accent-c);
}
a {
  color: var(--accent-c);
  font-style: italic;
}
button:hover {
  box-shadow: inset 0 0 10px var(--white);
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-b1 {
  margin-bottom: 1rem;
}
.text-end {
  text-align: end;
}
.center {
  text-align: center;
}
.content-center {
  justify-content: center;
}
.row-between {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  flex-direction: column;
}
.flex-end {
  place-self: end;
}
.self-center {
  place-self: center;
}
.red {
  background-color: rgb(114, 26, 5);
}
